<article class="preview preview-{{ post.post_type }}" id="preview-{{ post.ID }}">
  {% block content %}

      {% if post.get_thumbnail %}
        <a href="{{ post.link }}">
          <img src="{{ post.thumbnail.src | resize(400, 267, true)}}"/>
        </a>
      {% endif %}

      <a href="{{ post.link }}"><h3 class="post-title">{{ post.title }}</h3></a>

  {% endblock %}
</article>
