<footer class="site-footer">

    <a href="{{ site.url }}"><img src="{{theme.link}}/assets/images/logo.png" alt=""></a>

    <div class="credit">
        <h4>&copy; {{ "now" | date('Y') }} {{ site.title }}</h4>
        <a href="http://kindredstudio.ca" target="_blank">Kindred Studio</a>
    </div>

    <ul>
      {% if options.facebook %}
      <li>
        <a href="{{ options.facebook }}" targer="_blank">
          {% include ['components/icon-facebook.twig'] %}
        </a>
      </li>
      {% endif %}
      {% if options.pinterest %}
      <li>
        <a href="{{ options.pinterest }}" targer="_blank">
          {% include ['components/icon-pinterest.twig'] %}
        </a>
      </li>
      {% endif %}
      {% if options.instagram %}
      <li>
        <a href="{{ options.instagram }}" targer="_blank">
          {% include ['components/icon-instagram.twig'] %}
        </a>
      </li>
      {% endif %}
      {% if options.twitter %}
      <li>
        <a href="{{ options.twitter }}" targer="_blank">
          {% include ['components/icon-twitter.twig'] %}
        </a>
      </li>
      {% endif %}
    </ul>

</footer>
